## 1. Conhecendo o Jupyter

Esse capítulo do curso é somente sobre a interface do Jupyter !

Para atalhos podemos usar a tecla ESC + H

## 2. Importando dados

Importando base de dados:

In [3]:
import pandas as pd

dados = pd.read_csv('dados/curso2/aluguel.csv', sep=';')
dados.head()

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,Conjunto Comercial/Sala,Barra da Tijuca,0,4,0,150,5200.0,4020.0,1111.0
3,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
4,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN

Descobrindo o tipo dos dados:

In [4]:
type(dados)

pandas.core.frame.DataFrame

Tirando outras informações sobre esse DataFrame:

In [6]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32960 entries, 0 to 32959
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Tipo        32960 non-null  object
 1   Bairro      32960 non-null  object
 2   Quartos     32960 non-null  int64
 3   Vagas       32960 non-null  int64
 4   Suites      32960 non-null  int64
 5   Area        32960 non-null  int64
 6   Valor       32943 non-null  float64
 7   Condominio  28867 non-null  float64
 8   IPTU        22723 non-null  float64
dtypes: float64(3), int64(4), object(2)
memory usage: 2.3+ MB

Descobrindo o numero de linhas e colunas do DataFrame:

In [8]:
print(f'Nesse DataFrame temos: {dados.shape[0]} linhas')
print(f'Nesse DataFrame temos: {dados.shape[1]} colunas')

Nesse DataFrame temos: 32960 linhas
Nesse DataFrame temos: 9 colunas

## 3. Séries e Index

Identificando os tipos de imóveis:

In [13]:
dados['Tipo'].unique()

array(['Quitinete', 'Casa', 'Conjunto Comercial/Sala', 'Apartamento',
       'Casa de Condomínio', 'Prédio Inteiro', 'Flat', 'Loja/Salão',
       'Galpão/Depósito/Armazém', 'Casa Comercial', 'Casa de Vila',
       'Terreno Padrão', 'Box/Garagem', 'Loft',
       'Loja Shopping/ Ct Comercial', 'Chácara', 'Loteamento/Condomínio',
       'Sítio', 'Pousada/Chalé', 'Studio', 'Hotel', 'Indústria'],
      dtype=object)

Transformando em um DataFrame:

In [18]:
tipos_imoveis = {
    'tipo_de_imovel': dados['Tipo'].unique()
}
tipos_imoveis = pd.DataFrame(tipos_imoveis)
tipos_imoveis

                 tipo_de_imovel
0                     Quitinete
1                          Casa
2       Conjunto Comercial/Sala
3                   Apartamento
4            Casa de Condomínio
5                Prédio Inteiro
6                          Flat
7                    Loja/Salão
8       Galpão/Depósito/Armazém
9                Casa Comercial
10                 Casa de Vila
11               Terreno Padrão
12                  Box/Garagem
13                         Loft
14  Loja Shopping/ Ct Comercial
15                      Chácara
16        Loteamento/Condomínio
17                        Sítio
18                Pousada/Chalé
19                       Studio
20                        Hotel
21                    Indústria

Definindo um nome para nosso index:

In [22]:
tipos_imoveis.columns.name = 'id'

In [23]:
tipos_imoveis.head()

id           tipo_de_imovel
0                 Quitinete
1                      Casa
2   Conjunto Comercial/Sala
3               Apartamento
4        Casa de Condomínio