In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df_path = 'https://raw.githubusercontent.com/carlosfab/datasets/master/electricity_consumption/Electric_Production.csv'

In [7]:
# parse_dates, já transforma uma determinada coluna para datetime.
# index_col, colocando o nome da coluna, ele já transforma em index.
df = pd.read_csv(df_path, parse_dates=[0], index_col='DATE')

df.head()

              Value
DATE
1985-01-01  72.5052
1985-02-01  70.6720
1985-03-01  62.4502
1985-04-01  57.4714
1985-05-01  55.3151

In [9]:
df.loc['1998-08-01']

Value    93.531
Name: 1998-08-01 00:00:00, dtype: float64