### Importando a base de dados no Pandas:

In [1]:
import pandas as pd

Utilizamos o *encoding* correto para a leitura dos nossos dados, o parâmetro *skiprows* para pular as primeiras linhas desnecessárias e o *skipfooter* para pular as últimas linhas. Os parâmetros *thousands* e *decimal* é utilizado para trocar as casas decimais de vírgula para ponto por exemplo, ficando igual a convenção americana de dados numéricos.

In [2]:
dados = pd.read_csv('dados/sih_cnv_qiuf214900192_141_121_80.csv', encoding='ISO-8859-1', skiprows=3,sep=';',skipfooter=12, thousands=',', decimal='.')

C:\Users\mvsam\AppData\Local\Temp\ipykernel_3936\4093605996.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  dados = pd.read_csv('dados/sih_cnv_qiuf214900192_141_121_80.csv', encoding='ISO-8859-1', skiprows=3,sep=';',skipfooter=12, thousands=',', decimal='.')

### Vizualisando as primeiras 5 linhas do DataFrame:

In [3]:
dados.head()

,Unidade da Federação,2008/Jan,2008/Fev,2008/Mar,2008/Abr,2008/Mai,2008/Jun,2008/Jul,2008/Ago,2008/Set,...,2022/Dez,2023/Jan,2023/Fev,2023/Mar,2023/Abr,2023/Mai,2023/Jun,2023/Jul,2023/Ago,Total
0,11 Rondônia,138852839,293128342,154168252,152531496,164595384,140615068,306527901,323149461,311717863,...,1113518734,1026383680,863172679,1121531762,1044675493,1374643823,1121183038,1099185034,1186133649,133662481079
1,12 Acre,90241600,149720626,179402848,173046942,181944392,182849600,251175459,208910714,227570853,...,399902390,349241089,426193815,492748249,470118254,484500675,512489900,569279393,456128178,57039178605
2,13 Amazonas,473552942,711899057,819663549,825937842,783139990,847727362,936885872,935253270,936309935,...,2217448271,2058288210,1659281825,2162675785,1948146577,2161230585,2163396664,2412332939,2361516103,252583307582
3,14 Roraima,65788953,77793931,71868803,83999439,86234796,83244066,99669309,89427118,91042417,...,441603067,448675639,388737646,459729719,445628966,443504277,381736158,340221096,423652689,43876763621
4,15 Pará,1886474411,1955375820,2193734270,2084282969,2324995288,2324068756,2400222356,2334121803,2517226132,...,4449125098,4625608099,4636830540,4730248261,4758254376,4656882878,4435819639,5193018094,4452007427,605729973983

### Obtendo algumas informações do DataFrame:

In [4]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27 entries, 0 to 26
Columns: 190 entries, Unidade da Federação to Total
dtypes: int64(188), object(2)
memory usage: 40.2+ KB

### Como faço para visualizar apenas a coluna mais recente do Dataframe ?

Dessa forma abaixo, selecionamos a penúltima coluna que representa o mês mais atual do nosso DataFrame:

In [5]:
dados.iloc[:, -2]

0      1186133649
1       456128178
2      2361516103
3       423652689
4      4452007427
5       350366651
6        72157985
7      3567714992
8      2138963140
9      5150113705
10     3221636368
11     2857633455
12     8875277912
13     1273963466
14     1594451274
15    10256151185
16    22078883931
17     4182290519
18    11439538104
19    40054755364
20    15600869498
21     9224957198
22    11794044816
23     2725042475
24     2056487502
25     4749383659
26     3096124428
Name: 2023/Ago, dtype: int64