In [1]:
import pandas as pd

In [2]:
gastos_mais_recente = pd.read_csv('dados/gastos_mais_recente.csv')
gastos_mais_recente.head()

   Unidade da Federação    2023/Ago
0          35 São Paulo  400.547554
1       31 Minas Gerais  220.788839
2             41 Paraná  156.008695
3  43 Rio Grande do Sul  117.940448
4     33 Rio de Janeiro  114.395381

In [3]:
dados_ibge = pd.read_html('https://pt.wikipedia.org/wiki/Lista_de_unidades_federativas_do_Brasil_por_popula%C3%A7%C3%A3o')

In [4]:
dados_ibge_tab = dados_ibge[1]
dados_ibge_tab.head()

,Posição,Unidade federativa,População(Censo de 2022)[2],População(Censo de 2010)[3],Mudança,% da pop. total,País comparável (habitantes)
0,1,São Paulo,44 411 238,41 262 199,+7.63%,"21,88%",Espanha (46 754 778)
1,2,Minas Gerais,20 538 718,19 597 330,+4.81%,"10,11%",Burquina Fasso (20 903 273)
2,3,Rio de Janeiro,16 054 524,15 989 929,+0.40%,"7,91%",Camboja (16 718 965)
3,4,Bahia,14 141 626,14 016 906,+0.89%,"6,96%",Zimbabwe (14 862 924)
4,5,Paraná,11 444 380,10 444 526,+9.57%,"5,64%",Tunísia (11 818 619)

In [5]:
dados_ibge_tab = dados_ibge_tab[['Unidade federativa', 'População(Censo de 2022)[2]']]
dados_ibge_tab.head()

  Unidade federativa População(Censo de 2022)[2]
0          São Paulo                  44 411 238
1       Minas Gerais                  20 538 718
2     Rio de Janeiro                  16 054 524
3              Bahia                  14 141 626
4             Paraná                  11 444 380

In [6]:
dados_ibge_tab.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27 entries, 0 to 26
Data columns (total 2 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Unidade federativa           27 non-null     object
 1   População(Censo de 2022)[2]  27 non-null     object
dtypes: object(2)
memory usage: 560.0+ bytes

In [7]:
dados_ibge_tab.columns = ['Unidade da Federação', 'populacao']
dados_ibge_tab.head()

  Unidade da Federação   populacao
0            São Paulo  44 411 238
1         Minas Gerais  20 538 718
2       Rio de Janeiro  16 054 524
3                Bahia  14 141 626
4               Paraná  11 444 380

In [8]:
dados_ibge_tab['populacao'] = dados_ibge_tab['populacao'].str.replace('\xa0', '').astype(int)

C:\Users\mvsam\AppData\Local\Temp\ipykernel_8452\372465251.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dados_ibge_tab['populacao'] = dados_ibge_tab['populacao'].str.replace('\xa0', '').astype(int)

In [9]:
dados_ibge_tab.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27 entries, 0 to 26
Data columns (total 2 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Unidade da Federação  27 non-null     object
 1   populacao             27 non-null     int32
dtypes: int32(1), object(1)
memory usage: 452.0+ bytes

In [10]:
dados_ibge_tab.head()

  Unidade da Federação  populacao
0            São Paulo   44411238
1         Minas Gerais   20538718
2       Rio de Janeiro   16054524
3                Bahia   14141626
4               Paraná   11444380

In [13]:
gastos_mais_recente.set_index('Unidade da Federação', inplace=True)
dados_ibge_tab.set_index('Unidade da Federação', inplace=True)

In [20]:
gastos_mais_recente.index = gastos_mais_recente.index.str[3:]

In [21]:
dados_ibge_tab.join(gastos_mais_recente)

                      populacao    2023/Ago
Unidade da Federação
São Paulo              44411238  400.547554
Minas Gerais           20538718  220.788839
Rio de Janeiro         16054524  114.395381
Bahia                  14141626  102.561512
Paraná                 11444380  156.008695
Rio Grande do Sul      10882965  117.940448
Pernambuco              9058931   88.752779
Ceará                   8794957   51.501137
Pará                    8121025   44.520074
Santa Catarina          7610361   92.249572
Goiás                   7056495   47.493837
Maranhão                6775805   35.677150
Paraíba                 3974687   28.576335
Amazonas                3941613   23.615161
Espírito Santo          3833712   41.822905
Mato Grosso             3658649   20.564875
Rio Grande do Norte     3302729   32.216364
Piauí                   3272199   21.389631
Alagoas                 3127683   12.739635
Distrito Federal        2817381   30.961244
Mato Grosso do Sul      2757013   27.250425
Sergipe                 2209558   15.944513
Rondônia                1581196   11.861336
Tocantins               1511460    0.721580
Acre                     830018    4.561282
Amapá                    733759    3.503667
Roraima                  636707    4.236527